/* /* .sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
    position: relative;
  } */
  
  .search-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  .search-button {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    transition: transform 0.3s;
  }
  
  .search-input {
    width: 0;
    opacity: 0;
    transition: width 0.3s, opacity 0.3s;
  }
  
  .search-container.active .search-button {
    transform: translateX(-180px);
  }
  
  .search-container.active .search-input {
    width: 150px;
    opacity: 1;
    margin-left: 10px; /* Adjust this for spacing between icon and input */
  }
